{% load static %}

<!DOCTYPE html>

<html lang="en">
    
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
        <div class="row">

            <div class="main col-lg-10 col-md-9">
                <div class="container" style="padding: 20px;">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            
            <div class="sidebar col-lg-2 col-md-3" style="position: sticky; top: 0;">
                <div class="container" style="padding: 20px;">
                    <h2>Wiki</h2>
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="q" placeholder="Search Wiki">
                    </form>
                    <br>
                    <div>
                        <a href="{% url 'index' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'new_page' %}">Create New Page</a>
                    </div>
                    <div>
                        <a href="{% url 'random' %}">Random Page</a>
                    </div>
                    {% block nav %}
                    {% endblock %}
                </div>
            </div>
            
        </div>
        </div>

    </body>

</html>